.nav-container{
    display: block;
    width: calc(100% - 32px);
    padding: 18px;
    background: white;
    box-shadow: 0px 1px 3px #8C8C8C;
    padding-left: 32px;
}

.nav-container .nav-item{
    display: inline-block;
    min-width: 150px;
    cursor: pointer;
}

.nav-container .nav-item .nav-title{
    display: inline-block;
}