<div class="projectContainer">
    <div class="header">
        <div class="inline-block four-cells text-center">
            <span class="bold">ProjectName</span>
            <span>{{project.name}}</span>
        </div>
        <div class="inline-block four-cells text-center">
            <span class="bold">Description</span>
            <span>{{project.description || 'no description'}}</span>
        </div>
        <div class="inline-block four-cells text-center">
            <span class="bold">Project Id</span>
            <span>{{project.id}}</span>
        </div>
        <custom-button on-click="generateProfileConfiguration()"
                       custom-class="vertical-align-middle inline-block five-cells"
                       name="Generate Configuration">
        </custom-button>
    </div>

    <div class="tabsContainer tab-container">
        <div ng-repeat="tab in tabs"
             ng-click="navigateToProject(tab);"
             class="inline-block five-cells pointer padding text-center"
             ng-class="{'selected': selectedTab.id === tab.id}">
            <span>{{tab.name}}</span>
        </div>
    </div>

    <ng-include ng-if="selectedTab.id==='general'" src="'/partials/components/applicationContainer'"></ng-include>
    <ng-include ng-if="selectedTab.id==='profiles'" src="'/partials/components/profileContainer'"></ng-include>
    <ng-include ng-if="selectedTab.id==='fields'" src="'/partials/components/configurationContainer'"></ng-include>

</div>